{% load static %}
<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <title>Landing Page UAS - Jelita</title>
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
</head>
<body>

<div class="hero">
    <h1>Landing Page UAS - Jelita</h1>
    <p>Selamat datang di sistem pendaftaran online</p>

    <div class="actions">
        <a href="/pendaftaran/" class="btn-register">Registrasi</a>
        <a href="/admin/" class="btn-login">Login</a>
    </div>
</div>

</body>
</html>
